/*===========================================*/
/*            App Component                  */
/*===========================================*/

.App {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 1024px;
    margin:0 auto;
}

